// @file Defines the styles for the MD Item.
// @author Derek Gransaull <derek@dgtlife.com>
// @copyright DGTLife, LLC 2015
//
// Created on 10/13/2015

@require '../md-common'

/////////////////////////    VARIABLES FOR MD ITEM    //////////////////////////
$md-item__font-size = 0.9375rem
$md-item__font-weight = 400
$md-item--disabled__color = rgba(0,0,0,0.26)

//////////////////////////    STYLES FOR MD ITEM    ////////////////////////////
.md-item
  $align-items-center()
  cursor pointer
  $display-flex()
  $flex-direction(row)
  min-height 3rem
  overflow hidden
  padding 0 1rem
  position relative
.md-item[data-disabled]
  background-color transparent
  color $md-item--disabled__color
  cursor default
.md-icon.md-item__icon
  color inherit
  padding 0 2rem 0 0
.md-item__text
  font-size $md-item__font-size
  white-space nowrap
.md-item.md-item--inactive
  cursor default
