// @file Defines the common styles for the MD components.
// @author Derek Gransaull <derek@dgtlife.com>
// @copyright DGTLife, LLC 2015
//
// Created on 9/29/2015

/////////////////////////////////  MD FONT  ////////////////////////////////////
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500)

/////////////////////////////  COMMON VARIABLES  ///////////////////////////////
$md-font-family = "Roboto", "Noto", "Helvetica Neue", Helvetica, "Segoe", Arial, sans-serif !important
$md-color__primary = #009688
$md-color__primary-text = rgba(0, 0, 0, 0.87)
$md-color__secondary-text = rgba(0, 0, 0, 0.54)
$md-color__disabled-text = rgba(0, 0, 0, 0.38)
$md-color__text-input = $md-color__primary-text
$md-color__backdrop-bg = #000000
$md-color__helper-text = rgba(0, 0, 0, 0.38)
$md-color__error-text = #DD2C00
$md-color__divider = rgba(0, 0, 0, 0.12)
$md-field__input__font-size = 1rem

//////////////////////////////  COMMON MIXINS  /////////////////////////////////
/////  TYPOGRAPHY  /////
$md-title()
  font-size 1.25rem
  font-weight 400

/////  LAYOUT  /////
$fit()
  bottom 0
  left 0
  position absolute
  right 0
  top 0

/////  ANIMATION  /////
$md-timing-function--fast-out-slow-in = cubic-bezier(0.4, 0, 0.2, 1)
$md-timing-function--linear-out-slow-in = cubic-bezier(0, 0, 0.2, 1)
$md-timing-function--fast-out-linear-in = cubic-bezier(0.4, 0, 1, 1)
$md-timing-function--default = $md-timing-function--fast-out-slow-in

$md-transition--default()
  transition-duration 0.25s
  transition-timing-function $md-timing-function--fast-out-slow-in

/////  VENDOR PREFIXED PROPERTIES /////
$align-items-center()
  -ms-flex-align center
  -webkit-align-items center
  align-items center
$appearance-none()
  -ms-appearance none
  -moz-appearance none
  -webkit-appearance none
  appearance none
$display-flex()
  display -ms-flexbox
  display -webkit-flex
  display flex
$display-inline-flex()
  display -ms-inline-flexbox
  display -webkit-inline-flex
  display inline-flex
$flex(n)
  -ms-flex n 1 0.000000001px
  -webkit-flex n
  flex n
  -webkit-flex-basis 0.000000001px
  flex-basis 0.000000001px
$flex-direction(direction)
  -ms-flex-direction direction
  -webkit-flex-direction direction
  flex-direction direction
$flex-wrap(value)
  -ms-flex-wrap value
  -webkit-flex-wrap value
  flex-wrap value
$justify-content-start()
  -ms-flex-pack start
  -webkit-justify-content flex-start
  justify-content flex-start
$justify-content-center()
  -ms-flex-pack center
  -webkit-justify-content center
  justify-content center
$justify-content-end()
  -ms-flex-pack end
  -webkit-justify-content flex-end
  justify-content flex-end
$justify-content-around()
  -ms-flex-pack around
  -webkit-justify-content space-around
  justify-content space-around
$justify-content-between()
  -ms-flex-pack justify
  -webkit-justify-content space-between
  justify-content space-between
$user-select-none()
  -moz-user-select none
  -ms-user-select none
  -webkit-user-select none

//////////////////////////////  COMMON STYLES  /////////////////////////////////
///// All components and elements they contain, except the inputs
[class^=md-]:not(input)
  -webkit-tap-highlight-color transparent
  -webkit-touch-callout none

///// Font
.md-button__label,
.md-card,
.md-dialog,
.md-error-text,
.md-field__label,
.md-field__input,
.md-field__prefix,
.md-field__suffix,
.md-helper-text,
.md-item__text,
.md-label,
.md-radio-button__label,
.md-text-area__size-detector,
.md-tooltip__text,
.md-snackbar__message
  font-family $md-font-family

/////  Fields
.md-field__container
  position relative
// Field inputs: suppress the native style of input elements.
.md-field__input
  background-color transparent
  border none
  box-shadow none
  color $md-color__text-input
  display inline-block
  font-size $md-field__input__font-size
  line-height normal
  min-width 0
  outline none
  padding 0.5rem 0
  text-align left
  text-rendering optimizeLegibility
  width 100%

// Scrollable element
[data-scrollable]::before,
[data-scrollable]::after
  background-color #E0E0E0
  height 0.0625rem
  left 0
  right 0
  position absolute
[data-scrollable][data-overflow]:not([data-scroll-status="scrolled-down"])::before
  content ''
  top 0
[data-scrollable][data-overflow]:not([data-scroll-status="scrolled-up"])::after
  content ''
  bottom 0

// Backdrop
[data-backdrop]
  background-color $md-color__backdrop-bg
  height 100vh
  left 0
  opacity 0
  position fixed
  top 0
  transition opacity ease-in-out 0.38s
  width 100vw
[data-backdrop].md-backdrop--drawer
  z-index 9
[data-backdrop].md-backdrop--dialog,
[data-backdrop].md-backdrop--modal
  z-index 11
.md-backdrop--drawer[data-backdrop][data-backdrop-open]
  opacity 0.3
.md-backdrop--modal[data-backdrop][data-backdrop-open]
  opacity 0.75

// Helper text
.md-helper-text
  color $md-color__helper-text
  font-size 0.75rem
  line-height normal
  margin 0.25rem 0
  text-align left

// Error text
.md-error-text
  color $md-color__error-text
  font-size 0.75rem
  line-height normal
  margin 0.25rem 0
  text-align left

// Subheader
.md-subheader
  $align-items-center()
  color $md-color__secondary-text
  $display-flex()
  font-size 0.875rem
  font-weight 500
  height 3rem

// Divider
.md-divider
  background-color $md-color__divider
  height 1px
  margin 0.5rem 0
  width 100%

// Miscellaneous
.flex
  flex 1
.md-hide
  display none !important
