//- @file Defines the template for MD Underline.
    @author Derek Gransaull <derek@dgtlife.com>
    @copyright DGTLife, LLC 2015
    Created on 10/17/2015

//-/////////////////////////    MD UNDERLINE    ////////////////////////////////
//- An MD Underline is a component used to add an animated underline to a text
    input field. An MD Underline takes no parameters.
template(name="md_underline")
  .md-field__underline-container
    .md-field__underline(data-underline="")
    .md-field__underline--modified(data-underline--modified="")
