//- @file Defines the template for MD Ripple.
    @author Derek Gransaull <derek@dgtlife.com>
    @copyright DGTLife, LLC 2015

    Created on 10/13/2015

//-/////////////////////////////  MD RIPPLE  ///////////////////////////////////
//- An MD ripple (cf. paper-ripple). This ripple
      * can be made to originate from the center of the associated element or
        from the event position
template(name="md_ripple")
  .md-ripple(
    data-ripple=""
    class=classes
    data-offset=offset
  )
    .md-ripple__wave
