// @file Defines the styles for the MD Snackbar.
// @author Derek Gransaull <derek@dgtlife.com>
// @copyright DGTLife, LLC 2015
//
// Created on 11/14/2015

@require '../md-common'
@require '../md-shadow/md-shadow'

///////////////////////    STYLES FOR MD SNACKBAR    ///////////////////////////
.md-snackbar
  bottom 0
  left 0
  position fixed
  margin 0
  transition transform 0.3s
  transform-origin bottom
  width 100%
  z-index 12
.md-snackbar--current
  align-items center
  background-color #323232
  color #FEFEFE
  font-size 0.875rem
  font-weight 400
.md-snackbar__message
  line-height 1.25rem
  padding 0.875rem 1.5rem
  pointer-events none
  text-align left
.md-snackbar__message.multi-line
  padding 1.5rem
.md-button.md-snackbar__button
  color #FFFF8D

////// Desktop/tablet screens, i.e. above 600px
@media only screen and (min-width: 600px)
  .md-snackbar__container
    text-align center
  .md-snackbar--current
    border-radius 0.125rem
    display inline-flex
    margin 0 auto
    max-width 35.5rem
    min-width 18rem
    white-space nowrap
    width auto
    $md-shadow--8dp()
  .md-snackbar__message
    display inline-block
    overflow-x hidden

////// Narrow/phone screens, i.e below 600px
@media only screen and (max-width: 599px)
  .md-snackbar__container
    height auto
  .md-snackbar--current
    border-radius 0
    display flex
    width 100%
  .md-snackbar__message
    flex 1
