//- @file Defines the structure assumed for MD Header Panel.
    @author Derek Gransaull <derek@dgtlife.com>
    @copyright DGTLife, LLC 2015

    Created on 12/2/2015

//-/////////////////////////////  MD HEADER  ///////////////////////////////////
//- An MD Header Panel is a containment structure for a header element, a
    content element, and supporting elements to enable the header to exhibit
    certain behaviors based on the scrolling status of the content. The header
    element is usually an MD Toolbar, but it can be any element with the
    'data-header' attribute

    The containment structure is as follows:

//- If 'cover' mode is not needed.
.md-header-panel(data-header-panel="")
  .md-header(data-header="" class="medium-tall")
    //- The header content goes here.
    .md-header__shadow(data-header-shadow="")
  .md-content-panel(data-content-panel="")
    .md-content(data-content="")
      //- The content goes here.

//- If 'cover' mode is needed.
.md-header-panel(data-header-panel="")
  .md-header(data-header="" class="medium-tall")
    //- The header content goes here.
    .md-header__shadow(data-header-shadow="")
  .md-content-panel(data-content-panel="")
    .md-content(data-content="")
      .md-covering-content(data-covering-content="")
        //- The content goes here.
