// @file Defines the styles for the MD Collapse.
// @author Derek Gransaull <derek@dgtlife.com>
// @copyright DGTLife, LLC 2016
//
// Created on 1/19/2016

@require '../md-common'

////////////////////////    STYLES FOR MD COLLAPSE    //////////////////////////
.md-collapse
  $display-flex()
  $flex-direction(row)
.md-collapse__content
  height 2.2rem
  overflow hidden
  transition height 0.3s
.md-collapse__content.collapsed
  .paragraph--first
    margin-top 1rem
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
.md-collapse__content-sizer
  padding 0.1px 0
[data-collapse-toggle]
  transform: rotate(-180deg)
  transition transform 0.3s
[data-collapse-toggle].collapsed
  transform: rotate(0deg)
  transition transform 0.3s
[data-collapse-toggle] .md-icon.md-button__icon
  border 2px solid #757575
  border-radius 50%
  color #757575
  height 1.25rem
  width 1.25rem
