// @file Defines the styles for the MD Button.
// @author Derek Gransaull <derek@dgtlife.com>
// @copyright DGTLife, LLC 2015
//
// Created on 10/13/2015

@require '../md-common'
@require '../md-shadow/md-shadow'

////////////////////    VARIABLES FOR MD BUTTON STYLES    //////////////////////
/////  MD BUTTON  /////
$md-button__border-radius = 0.125rem
$md-button__height = 2.25rem
$md-button__margin = 0                  // 0.25rem
$md-button__min-width = 4rem
$md-button__padding = 0                 // 0.5rem
$md-button__font-size = 0.875rem        // 14sp
$md-button__font-weight = 500
$md-button__color = $md-color__primary
$md-button--hover__bg-color = #E0F2F1
$md-button--focus__bg-color = #B2DFDB
$md-button--active__bg-color = #80CBC4
$md-button--pressed__bg-color = #80CBC4
$md-button--disabled__bg-color = rgba(0,0,0,0.12)
$md-button--disabled__color = rgba(0,0,0,0.26)
$md-button--primary__bg-color = #FF6F00

/////  MD ICON BUTTON  /////
$md-icon-button__color = rgba(0,0,0,0.87)

/////  MD FAB  /////
$md-button--fab__color = #FEFEFE
$md-button--fab__bg-color = #03A9F4
$md-button--fab__size = 3.5rem
$md-button--fab__padding = 0
$md-button--mini-fab__size = 2.5rem
$md-button--mini-fab__padding = 0

////////////////////////    STYLES FOR MD BUTTON    ////////////////////////////
button.md-button
  $appearance-none()
/////  MD FLAT BUTTON (default)  /////
.md-button
  $align-items-center()
  background-color transparent
  border none
  border-radius $md-button__border-radius
  color $md-button__color
  cursor pointer
  $display-flex()
  $flex-direction(row)
  height $md-button__height
  margin 0 $md-button__margin
  min-width $md-button__min-width
  padding 0 $md-button__padding
  position relative
  outline none
  overflow hidden
  text-align center
  text-decoration none
  $user-select-none()
  will-change box-shadow, transform
  transition:
    box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1)
  z-index 0
  &:hover
    background-color $md-button--hover__bg-color
  &:active
    background-color $md-button--active__bg-color
// Active state on a button in Chrome on Android
.md-button[data-active]
  //background-color $md-button--active__bg-color
  background-color transparent
// Disabled flat button
.md-button[disabled]
  color $md-button--disabled__color
  pointer-events none

/////  MD RAISED BUTTON  /////
.md-button[data-raised]
  $md-shadow--2dp()
  &:active
    $md-shadow--8dp()
// Active state on a raised button in Chrome on Android
.md-button[data-raised][data-active]
  $md-shadow--8dp()
// Disabled raised button
.md-button[data-raised][disabled]
  background-color $md-button--disabled__bg-color
  box-shadow none

/////  MD TOGGLE BUTTON  /////
.md-button[data-toggle][data-pressed]
  background-color $md-button--pressed__bg-color
// A raised toogle button
.md-button[data-raised][data-toggle][data-pressed]
  $md-shadow--8dp()

// BUTTON LABEL
.md-button > .md-button__label
  font-size 0.875rem
  font-weight 500
  line-height 0.875
  margin auto
  padding 0 0.5rem
  pointer-events none
  text-transform uppercase
  letter-spacing 0
.md-button[data-raised] > .md-button__label
  padding 0 1rem

// BUTTON ICON
.md-button > .md-icon.md-button__icon
  color inherit
  margin auto
  pointer-events none

// BUTTON WITH AN ICON
.md-button[data-with-icon]
  > .md-icon.md-button__icon
    padding 0 0 0 0.5rem
  > .md-icon.md-button__icon.on-firefox
    float left
    padding 0.375rem 0.5rem 0.375rem
  > .md-button__label.on-firefox
    float right
    padding 0.625rem 0 0.5625rem

/////  MD ICON BUTTON  /////
// (i.e. an icon as a button)
.md-button[data-icon-button]
  background-color transparent
  color $md-icon-button__color
  height auto
  margin 0
  min-width 0
  padding 0.75rem
  position relative
  &:hover,
  &:active
    background-color transparent
.md-button[data-icon-button][disabled]
  color $md-button--disabled__color
.md-button[data-icon-button][data-active]
  background-color transparent
.md-button[data-icon-button] > .md-button__icon
  padding 0

/////  MD FAB  /////
// STANDARD FAB
.md-button[data-fab]
  color $md-button--fab__color
  background-color $md-button--fab__bg-color
  border-radius 50%
  box-sizing border-box
  height $md-button--fab__size
  margin 0
  min-width 0
  width $md-button--fab__size
  padding $md-button--fab__padding
  $md-shadow--6dp()
  &:active
    $md-shadow--12dp()

// MINI FAB
.md-button[data-fab=mini]
  height $md-button--mini-fab__size
  padding $md-button--mini-fab__padding
  width $md-button--mini-fab__size

// An ACTIVE FAB in Chrome on Android
.md-button[data-fab][data-active]
  $md-shadow--12dp()

// Disabled FAB
.md-button[data-fab][disabled]
  background-color $md-button--disabled__bg-color
  box-shadow none
  color $md-button--disabled__color
  pointer-events none

// A FAB that animates on render
.md-button[data-fab][data-animate-on-render]
  display none
.md-button[data-fab][data-animate-on-render][data-animate]
  display inline-block
  -moz-animation render-fab 0.35s cubic-bezier(0, 0, 0.2, 1)
  -webkit-animation render-fab 0.35s cubic-bezier(0, 0, 0.2, 1)
  animation render-fab 0.35s cubic-bezier(0, 0, 0.2, 1)

@keyframes render-fab
  0%
    transform: scale(0) rotate(-45deg)
  100%
    transform scale(1)  rotate(0deg)
