// @file Defines the styles for the MD Card.
// @author Derek Gransaull <derek@dgtlife.com>
// @copyright DGTLife, LLC 2015
//
// Created on 9/29/2015

//@require '../md-common'
@require '../md-shadow/md-shadow'

//////////////////////////    STYLES FOR MD CARD    ////////////////////////////
.md-card
  border-radius 0.125rem
  overflow hidden
  $md-shadow--2dp()
  &:hover
    $md-shadow--8dp()
.md-card[data-selected]
  $md-shadow--8dp()
