// @file Defines the styles for the MD Header.
// @author Derek Gransaull <derek@dgtlife.com>
// @copyright DGTLife, LLC 2015
//
// Created on 12/2/2015

@require '../md-common'
@require '../md-shadow/md-shadow'

/////////////////////////    STYLES FOR MD HEADER    ///////////////////////////
// Some styles are adapted from Polymer paper-header-panel and paper-toolbar.
.md-header-panel
  $display-flex()
  $flex-direction(column)
  position relative
  height 100%
[data-header]
  position relative
[data-header-shadow]
  bottom -6px
  box-shadow inset 0 5px 6px -3px rgba(0, 0, 0, 0.4)
  height 6px
  left 0
  opacity 0
  position absolute
  right 0
  -webkit-transition opacity 0.3s
  transition opacity 0.3s
[data-header-shadow].show-shadow
  opacity 1
  z-index 1
.md-content__panel
  $display-flex()
  $flex-direction(column)
  $flex(1)
  position relative
.md-content__container
  $flex(1)
  overflow-y auto
  overflow-x hidden
  -webkit-overflow-scrolling touch
  position relative

// Scroll mode
.md-header-panel[data-mode=scroll]
  overflow-y auto
  overflow-x hidden
  -webkit-overflow-scrolling touch
.md-content__container[data-mode=scroll]
  overflow visible

// Cover mode
.md-content__panel[data-mode=cover]
  position static
  z-index 2
.md-content__container[data-mode=cover]
  bottom 0
  left 4rem
  position absolute
  right 4rem
  top 0
.md-content__container[data-mode=cover]::-webkit-scrollbar
  width 0.25rem
.md-content__container[data-mode=cover]::-webkit-scrollbar-track
  background-color transparent
.md-content__container[data-mode=cover]::-webkit-scrollbar-thumb
  background-color #757575
  opacity 0.5
.md-content[data-mode=cover]
  background-color #FFFFFF
  margin 4rem 0.25rem
  $md-shadow--2dp()
  position relative
  width auto
.md-header-panel[data-docked-left]
  .md-content__container[data-mode=cover]
    left 15.25rem
.md-header-panel[data-docked-right]
  .md-content__container[data-mode=cover]
    right 15.25rem

// Desktops and tablets
@media only screen and (min-width: 600px)
  .md-header-panel[data-mode=waterfall-collapse] [data-header].tall.collapsed,
  .md-header-panel[data-mode=waterfall-collapse] [data-header].medium-tall.collapsed
    height 4rem
  [data-header].has-tabs,
  .md-header-panel[data-mode=waterfall-collapse] [data-header].tall.collapsed.has-tabs,
  .md-header-panel[data-mode=waterfall-collapse] [data-header].medium-tall.collapsed.has-tabs
    height 7rem
  .md-content[data-mode=cover]
    padding 0.5rem 1.5rem

// Phones
@media only screen and (max-width: 600px)
  .md-header-panel[data-mode=waterfall-collapse] [data-header].tall.collapsed,
  .md-header-panel[data-mode=waterfall-collapse] [data-header].medium-tall.collapsed
    height 3.5rem
  [data-header].has-tabs,
  .md-header-panel[data-mode=waterfall-collapse] [data-header].tall.collapsed.has-tabs,
  .md-header-panel[data-mode=waterfall-collapse] [data-header].medium-tall.collapsed.has-tabs
    height 6.5rem
  .md-content[data-mode=cover]
    padding 0.5rem 1rem
